<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="nav">
        <%- include('partials/nav'); %>
    </div>



    <div class="wrapper">
        <h2>
            Введіть ім'я автора
        </h2>
        <form action="" class="form">
            <input type="text" name="name" placeholder="Your name..." required>
            <button type="submit">Добавити</button>
        </form>
        <div class="authors">

        </div>

    </div>

    <script src="./js/front.js"></script>
</body>

</html>
